Dockerfile
.dockerignore
.git
.gitignore
.github
.next
node_modules
npm-debug.log
README.md
.env
.env.*
!.env.example
.vscode
.idea
docker-compose.yml
Caddyfile
caddy-data
caddy-config
postgres-data
*.md
!README.md
